Project 1

August 23, 2022

> **1** **Building User-Based Recommendation Model for Amazon**
>
> DESCRIPTION  
> The dataset provided contains movie reviews given by Amazon customers.
> Reviews were given between May 1996 and July 2014.
>
> Data Dictionary  
> UserID – 4848 customers who provided a rating for each movie  
> Movie 1 to Movie 206 – 206 movies for which ratings are provided by
> 4848 distinct users Data Considerations  
> All the users have not watched all the movies and therefore, all
> movies are not rated. These missing values are represented by NA.
>
> Ratings are on a scale of -1 to 10 where -1 is the least rating and 10
> is the best. (As per the data the ratings are from 0-5 only)  
> Analysis Task  
> Exploratory Data Analysis:  
> Which movies have maximum views/ratings?
>
> What is the average rating for each movie? Define the top 5 movies
> with the maximum ratings. Define the top 5 movies with the least
> audience.
>
> Recommendation Model: Some of the movies hadn’t been watched and
> therefore, are not rated by the users. Netflix would like to take this
> as an opportunity and build a machine learning recommendation
> algorithm which provides the ratings for each of the users.
>
> Divide the data into training and test data  
> Build a recommendation model on training data  
> Make predictions on the test data

\[2\]: *\# Importing libraries*

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p><strong>import numpy as np</strong><br />
<strong>import pandas as pd</strong></p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

1

\[3\]: *\# Importing dataset*

<table>
<colgroup>
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
<col style="width: 4%" />
</colgroup>
<thead>
<tr class="header">
<th></th>
<th colspan="24"><blockquote>
<p>df_amazon = pd.read_csv("K:\Data Science\SL course\Projects\Building
User-Based␣df_amazon↪Recommendation Model for Amazon\Amazon - Movies and
TV Ratings.csv")</p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td rowspan="36">[3]:</td>
<td colspan="7">user_id</td>
<td colspan="4"><blockquote>
<p>Movie1</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>Movie2</p>
</blockquote></td>
<td>Movie3</td>
<td colspan="2">Movie4</td>
<td>Movie5</td>
<td colspan="2">Movie6</td>
<td colspan="3">Movie7</td>
<td>\</td>
</tr>
<tr class="even">
<td><blockquote>
<p>0</p>
</blockquote></td>
<td colspan="6"><blockquote>
<p>A3R5OBKS7OM2IR</p>
</blockquote></td>
<td colspan="4">5.0</td>
<td colspan="3">5.0</td>
<td>NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="2"><blockquote>
<p>NaN</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>NaN</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><blockquote>
<p>1</p>
</blockquote></td>
<td colspan="6"><blockquote>
<p>AH3QC2PC1VTGP</p>
</blockquote></td>
<td colspan="4">NaN</td>
<td colspan="3">NaN</td>
<td>2.0</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="2"><blockquote>
<p>NaN</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>NaN</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p>2</p>
</blockquote></td>
<td colspan="6"><blockquote>
<p>A3LKP6WPMP9UKX</p>
</blockquote></td>
<td colspan="4">NaN</td>
<td colspan="3">NaN</td>
<td>NaN</td>
<td colspan="2">5.0</td>
<td colspan="2">NaN</td>
<td colspan="2"><blockquote>
<p>NaN</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>NaN</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><blockquote>
<p>3</p>
</blockquote></td>
<td colspan="6"><blockquote>
<p>AVIY68KEPQ5ZD</p>
</blockquote></td>
<td colspan="4">NaN</td>
<td colspan="3">NaN</td>
<td>NaN</td>
<td colspan="2">5.0</td>
<td colspan="2">NaN</td>
<td colspan="2"><blockquote>
<p>NaN</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>NaN</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p>4</p>
</blockquote></td>
<td colspan="6"><blockquote>
<p>A1CV1WROP5KTTW</p>
</blockquote></td>
<td colspan="4">NaN</td>
<td colspan="3">NaN</td>
<td>NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">5.0</td>
<td colspan="2"><blockquote>
<p>NaN</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>NaN</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><blockquote>
<p>…</p>
</blockquote></td>
<td colspan="6">…</td>
<td colspan="2"><blockquote>
<p>…</p>
</blockquote></td>
<td colspan="2">…</td>
<td colspan="3">…</td>
<td>…</td>
<td><blockquote>
<p>…</p>
</blockquote></td>
<td>…</td>
<td colspan="7"><blockquote>
<p>…</p>
</blockquote></td>
</tr>
<tr class="even">
<td>4843</td>
<td colspan="6"><blockquote>
<p>A1IMQ9WMFYKWH5</p>
</blockquote></td>
<td colspan="4">NaN</td>
<td colspan="3">NaN</td>
<td>NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="2"><blockquote>
<p>NaN</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>NaN</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>4844</td>
<td colspan="6"><blockquote>
<p>A1KLIKPUF5E88I</p>
</blockquote></td>
<td colspan="4">NaN</td>
<td colspan="3">NaN</td>
<td>NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="2"><blockquote>
<p>NaN</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>NaN</p>
</blockquote></td>
</tr>
<tr class="even">
<td>4845</td>
<td colspan="6"><blockquote>
<p>A5HG6WFZLO10D</p>
</blockquote></td>
<td colspan="4">NaN</td>
<td colspan="3">NaN</td>
<td>NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="2"><blockquote>
<p>NaN</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>NaN</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>4846</td>
<td colspan="6"><blockquote>
<p>A3UU690TWXCG1X</p>
</blockquote></td>
<td colspan="4">NaN</td>
<td colspan="3">NaN</td>
<td>NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="2"><blockquote>
<p>NaN</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>NaN</p>
</blockquote></td>
</tr>
<tr class="even">
<td>4847</td>
<td colspan="6"><blockquote>
<p>AI4J762YI6S06</p>
</blockquote></td>
<td colspan="4">NaN</td>
<td colspan="3">NaN</td>
<td>NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="2"><blockquote>
<p>NaN</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>NaN</p>
</blockquote></td>
</tr>
<tr class="odd">
<td colspan="3">Movie8</td>
<td colspan="4">Movie9</td>
<td>…</td>
<td colspan="4">Movie197</td>
<td colspan="3">Movie198</td>
<td colspan="2">Movie199</td>
<td colspan="2">Movie200</td>
<td colspan="3">Movie201</td>
<td colspan="2"><blockquote>
<p>\</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p>0</p>
</blockquote></td>
<td colspan="4">NaN</td>
<td colspan="2">NaN</td>
<td colspan="4"><blockquote>
<p>…</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>NaN</p>
</blockquote></td>
<td>NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="5">NaN</td>
</tr>
<tr class="odd">
<td><blockquote>
<p>1</p>
</blockquote></td>
<td colspan="4">NaN</td>
<td colspan="2">NaN</td>
<td colspan="4"><blockquote>
<p>…</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>NaN</p>
</blockquote></td>
<td>NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="5">NaN</td>
</tr>
<tr class="even">
<td><blockquote>
<p>2</p>
</blockquote></td>
<td colspan="4">NaN</td>
<td colspan="2">NaN</td>
<td colspan="4"><blockquote>
<p>…</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>NaN</p>
</blockquote></td>
<td>NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="5">NaN</td>
</tr>
<tr class="odd">
<td><blockquote>
<p>3</p>
</blockquote></td>
<td colspan="4">NaN</td>
<td colspan="2">NaN</td>
<td colspan="4"><blockquote>
<p>…</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>NaN</p>
</blockquote></td>
<td>NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="5">NaN</td>
</tr>
<tr class="even">
<td><blockquote>
<p>4</p>
</blockquote></td>
<td colspan="4">NaN</td>
<td colspan="2">NaN</td>
<td colspan="4"><blockquote>
<p>…</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>NaN</p>
</blockquote></td>
<td>NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="5">NaN</td>
</tr>
<tr class="odd">
<td><blockquote>
<p>…</p>
</blockquote></td>
<td>…</td>
<td colspan="4">…</td>
<td><blockquote>
<p>…</p>
</blockquote></td>
<td colspan="4">…</td>
<td colspan="3">…</td>
<td>…</td>
<td colspan="2">…</td>
<td colspan="7"><blockquote>
<p>…</p>
</blockquote></td>
</tr>
<tr class="even">
<td>4843</td>
<td colspan="4">NaN</td>
<td colspan="2">NaN</td>
<td colspan="4"><blockquote>
<p>…</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>NaN</p>
</blockquote></td>
<td>NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="5">NaN</td>
</tr>
<tr class="odd">
<td>4844</td>
<td colspan="4">NaN</td>
<td colspan="2">NaN</td>
<td colspan="4"><blockquote>
<p>…</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>NaN</p>
</blockquote></td>
<td>NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="5">NaN</td>
</tr>
<tr class="even">
<td>4845</td>
<td colspan="4">NaN</td>
<td colspan="2">NaN</td>
<td colspan="4"><blockquote>
<p>…</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>NaN</p>
</blockquote></td>
<td>NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="5">NaN</td>
</tr>
<tr class="odd">
<td>4846</td>
<td colspan="4">NaN</td>
<td colspan="2">NaN</td>
<td colspan="4"><blockquote>
<p>…</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>NaN</p>
</blockquote></td>
<td>NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="5">NaN</td>
</tr>
<tr class="even">
<td>4847</td>
<td colspan="4">NaN</td>
<td colspan="2">NaN</td>
<td colspan="4"><blockquote>
<p>…</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>NaN</p>
</blockquote></td>
<td>NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="5">NaN</td>
</tr>
<tr class="odd">
<td colspan="6">Movie202</td>
<td colspan="4">Movie203</td>
<td colspan="3">Movie204</td>
<td colspan="2">Movie205</td>
<td colspan="9"><blockquote>
<p>Movie206</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p>0</p>
</blockquote></td>
<td colspan="6">NaN</td>
<td colspan="4"><blockquote>
<p>NaN</p>
</blockquote></td>
<td colspan="3">NaN</td>
<td>NaN</td>
<td colspan="9"><blockquote>
<p>NaN</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><blockquote>
<p>1</p>
</blockquote></td>
<td colspan="6">NaN</td>
<td colspan="4"><blockquote>
<p>NaN</p>
</blockquote></td>
<td colspan="3">NaN</td>
<td>NaN</td>
<td colspan="9"><blockquote>
<p>NaN</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p>2</p>
</blockquote></td>
<td colspan="6">NaN</td>
<td colspan="4"><blockquote>
<p>NaN</p>
</blockquote></td>
<td colspan="3">NaN</td>
<td>NaN</td>
<td colspan="9"><blockquote>
<p>NaN</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><blockquote>
<p>3</p>
</blockquote></td>
<td colspan="6">NaN</td>
<td colspan="4"><blockquote>
<p>NaN</p>
</blockquote></td>
<td colspan="3">NaN</td>
<td>NaN</td>
<td colspan="9"><blockquote>
<p>NaN</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p>4</p>
</blockquote></td>
<td colspan="6">NaN</td>
<td colspan="4"><blockquote>
<p>NaN</p>
</blockquote></td>
<td colspan="3">NaN</td>
<td>NaN</td>
<td colspan="9"><blockquote>
<p>NaN</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><blockquote>
<p>…</p>
</blockquote></td>
<td colspan="3">…</td>
<td colspan="3">…</td>
<td colspan="4">…</td>
<td colspan="3">…</td>
<td colspan="10"><blockquote>
<p>…</p>
</blockquote></td>
</tr>
<tr class="even">
<td>4843</td>
<td colspan="6">NaN</td>
<td colspan="4"><blockquote>
<p>NaN</p>
</blockquote></td>
<td colspan="3">NaN</td>
<td>NaN</td>
<td colspan="9"><blockquote>
<p>5.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>4844</td>
<td colspan="6">NaN</td>
<td colspan="4"><blockquote>
<p>NaN</p>
</blockquote></td>
<td colspan="3">NaN</td>
<td>NaN</td>
<td colspan="9"><blockquote>
<p>5.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td>4845</td>
<td colspan="6">NaN</td>
<td colspan="4"><blockquote>
<p>NaN</p>
</blockquote></td>
<td colspan="3">NaN</td>
<td>NaN</td>
<td colspan="9"><blockquote>
<p>5.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>4846</td>
<td colspan="6">NaN</td>
<td colspan="4"><blockquote>
<p>NaN</p>
</blockquote></td>
<td colspan="3">NaN</td>
<td>NaN</td>
<td colspan="9"><blockquote>
<p>5.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td>4847</td>
<td colspan="6">NaN</td>
<td colspan="4"><blockquote>
<p>NaN</p>
</blockquote></td>
<td colspan="3">NaN</td>
<td>NaN</td>
<td colspan="9"><blockquote>
<p>5.0</p>
</blockquote></td>
</tr>
</tbody>
</table>

> \[4848 rows x 207 columns\]

2

\[4\]: df_amazon.head()

<table>
<colgroup>
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 5%" />
</colgroup>
<thead>
<tr class="header">
<th rowspan="18">[4]:</th>
<th rowspan="2">0</th>
<th colspan="3">user_id</th>
<th colspan="3"><blockquote>
<p>Movie1</p>
</blockquote></th>
<th colspan="3">Movie2</th>
<th>Movie3</th>
<th>Movie4</th>
<th>Movie5</th>
<th colspan="2">Movie6</th>
<th colspan="3">Movie7</th>
<th rowspan="18"><blockquote>
<p>\</p>
</blockquote></th>
</tr>
<tr class="odd">
<th colspan="3"><blockquote>
<p>A3R5OBKS7OM2IR</p>
</blockquote></th>
<th colspan="3">5.0</th>
<th colspan="3">5.0</th>
<th>NaN</th>
<th>NaN</th>
<th colspan="2">NaN</th>
<th colspan="2"><blockquote>
<p>NaN</p>
</blockquote></th>
<th colspan="2">NaN</th>
</tr>
<tr class="header">
<th>1</th>
<th colspan="3"><blockquote>
<p>AH3QC2PC1VTGP</p>
</blockquote></th>
<th colspan="3">NaN</th>
<th colspan="3">NaN</th>
<th>2.0</th>
<th>NaN</th>
<th colspan="2">NaN</th>
<th colspan="2"><blockquote>
<p>NaN</p>
</blockquote></th>
<th colspan="2">NaN</th>
</tr>
<tr class="odd">
<th>2</th>
<th colspan="3"><blockquote>
<p>A3LKP6WPMP9UKX</p>
</blockquote></th>
<th colspan="3">NaN</th>
<th colspan="3">NaN</th>
<th>NaN</th>
<th>5.0</th>
<th colspan="2">NaN</th>
<th colspan="2"><blockquote>
<p>NaN</p>
</blockquote></th>
<th colspan="2">NaN</th>
</tr>
<tr class="header">
<th>3</th>
<th colspan="3"><blockquote>
<p>AVIY68KEPQ5ZD</p>
</blockquote></th>
<th colspan="3">NaN</th>
<th colspan="3">NaN</th>
<th>NaN</th>
<th>5.0</th>
<th colspan="2">NaN</th>
<th colspan="2"><blockquote>
<p>NaN</p>
</blockquote></th>
<th colspan="2">NaN</th>
</tr>
<tr class="odd">
<th>4</th>
<th colspan="3"><blockquote>
<p>A1CV1WROP5KTTW</p>
</blockquote></th>
<th colspan="3">NaN</th>
<th colspan="3">NaN</th>
<th>NaN</th>
<th>NaN</th>
<th colspan="2">5.0</th>
<th colspan="2"><blockquote>
<p>NaN</p>
</blockquote></th>
<th colspan="2">NaN</th>
</tr>
<tr class="header">
<th rowspan="2">0</th>
<th>Movie8</th>
<th colspan="2"><blockquote>
<p>Movie9</p>
</blockquote></th>
<th>…</th>
<th colspan="3">Movie197</th>
<th colspan="3">Movie198</th>
<th>Movie199</th>
<th colspan="2"><blockquote>
<p>Movie200</p>
</blockquote></th>
<th colspan="3">Movie201</th>
<th>\</th>
</tr>
<tr class="odd">
<th>NaN</th>
<th colspan="2">NaN</th>
<th colspan="3"><blockquote>
<p>…</p>
</blockquote></th>
<th colspan="3"><blockquote>
<p>NaN</p>
</blockquote></th>
<th>NaN</th>
<th>NaN</th>
<th colspan="2">NaN</th>
<th colspan="4">NaN</th>
</tr>
<tr class="header">
<th>1</th>
<th>NaN</th>
<th colspan="2">NaN</th>
<th colspan="3"><blockquote>
<p>…</p>
</blockquote></th>
<th colspan="3"><blockquote>
<p>NaN</p>
</blockquote></th>
<th>NaN</th>
<th>NaN</th>
<th colspan="2">NaN</th>
<th colspan="4">NaN</th>
</tr>
<tr class="odd">
<th>2</th>
<th>NaN</th>
<th colspan="2">NaN</th>
<th colspan="3"><blockquote>
<p>…</p>
</blockquote></th>
<th colspan="3"><blockquote>
<p>NaN</p>
</blockquote></th>
<th>NaN</th>
<th>NaN</th>
<th colspan="2">NaN</th>
<th colspan="4">NaN</th>
</tr>
<tr class="header">
<th>3</th>
<th>NaN</th>
<th colspan="2">NaN</th>
<th colspan="3"><blockquote>
<p>…</p>
</blockquote></th>
<th colspan="3"><blockquote>
<p>NaN</p>
</blockquote></th>
<th>NaN</th>
<th>NaN</th>
<th colspan="2">NaN</th>
<th colspan="4">NaN</th>
</tr>
<tr class="odd">
<th>4</th>
<th>NaN</th>
<th colspan="2">NaN</th>
<th colspan="3"><blockquote>
<p>…</p>
</blockquote></th>
<th colspan="3"><blockquote>
<p>NaN</p>
</blockquote></th>
<th>NaN</th>
<th>NaN</th>
<th colspan="2">NaN</th>
<th colspan="4">NaN</th>
</tr>
<tr class="header">
<th rowspan="2">0</th>
<th colspan="2">Movie202</th>
<th colspan="3">Movie203</th>
<th colspan="3">Movie204</th>
<th colspan="2">Movie205</th>
<th colspan="7"><blockquote>
<p>Movie206</p>
</blockquote></th>
</tr>
<tr class="odd">
<th colspan="3">NaN</th>
<th colspan="3"><blockquote>
<p>NaN</p>
</blockquote></th>
<th colspan="3">NaN</th>
<th>NaN</th>
<th colspan="7"><blockquote>
<p>NaN</p>
</blockquote></th>
</tr>
<tr class="header">
<th>1</th>
<th colspan="3">NaN</th>
<th colspan="3"><blockquote>
<p>NaN</p>
</blockquote></th>
<th colspan="3">NaN</th>
<th>NaN</th>
<th colspan="7"><blockquote>
<p>NaN</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>2</th>
<th colspan="3">NaN</th>
<th colspan="3"><blockquote>
<p>NaN</p>
</blockquote></th>
<th colspan="3">NaN</th>
<th>NaN</th>
<th colspan="7"><blockquote>
<p>NaN</p>
</blockquote></th>
</tr>
<tr class="header">
<th>3</th>
<th colspan="3">NaN</th>
<th colspan="3"><blockquote>
<p>NaN</p>
</blockquote></th>
<th colspan="3">NaN</th>
<th>NaN</th>
<th colspan="7"><blockquote>
<p>NaN</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>4</th>
<th colspan="3">NaN</th>
<th colspan="3"><blockquote>
<p>NaN</p>
</blockquote></th>
<th colspan="3">NaN</th>
<th>NaN</th>
<th colspan="7"><blockquote>
<p>NaN</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>[5 rows x 207 columns]</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

\[5\]: df_amazon.shape

\[5\]: (4848, 207)

<table style="width:100%;">
<colgroup>
<col style="width: 7%" />
<col style="width: 7%" />
<col style="width: 7%" />
<col style="width: 7%" />
<col style="width: 7%" />
<col style="width: 7%" />
<col style="width: 7%" />
<col style="width: 7%" />
<col style="width: 7%" />
<col style="width: 7%" />
<col style="width: 7%" />
<col style="width: 7%" />
<col style="width: 7%" />
</colgroup>
<thead>
<tr class="header">
<th>[6]:</th>
<th colspan="3"><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><em># Description of data col</em> df_amazon.describe().T</th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
<th colspan="3" rowspan="2"><p><em>umn wise</em></p>
<p>std</p></th>
<th colspan="2" rowspan="2">min</th>
<th></th>
<th></th>
<th></th>
<th></th>
</tr>
<tr class="odd">
<th rowspan="13">[6]:</th>
<th colspan="2">count</th>
<th>mean</th>
<th>25%</th>
<th>50%</th>
<th>75%</th>
<th><blockquote>
<p>max</p>
</blockquote></th>
</tr>
<tr class="header">
<th><blockquote>
<p>Movie1</p>
</blockquote></th>
<th>1.0</th>
<th>5.000000</th>
<th colspan="3">NaN</th>
<th colspan="2">5.0</th>
<th>5.00</th>
<th>5.0</th>
<th>5.0</th>
<th><blockquote>
<p>5.0</p>
</blockquote></th>
</tr>
<tr class="odd">
<th><blockquote>
<p>Movie2</p>
</blockquote></th>
<th>1.0</th>
<th>5.000000</th>
<th colspan="3">NaN</th>
<th colspan="2">5.0</th>
<th>5.00</th>
<th>5.0</th>
<th>5.0</th>
<th><blockquote>
<p>5.0</p>
</blockquote></th>
</tr>
<tr class="header">
<th><blockquote>
<p>Movie3</p>
</blockquote></th>
<th>1.0</th>
<th>2.000000</th>
<th colspan="3">NaN</th>
<th colspan="2">2.0</th>
<th>2.00</th>
<th>2.0</th>
<th>2.0</th>
<th><blockquote>
<p>2.0</p>
</blockquote></th>
</tr>
<tr class="odd">
<th><blockquote>
<p>Movie4</p>
</blockquote></th>
<th>2.0</th>
<th>5.000000</th>
<th colspan="3"><blockquote>
<p>0.000000</p>
</blockquote></th>
<th colspan="2">5.0</th>
<th>5.00</th>
<th>5.0</th>
<th>5.0</th>
<th><blockquote>
<p>5.0</p>
</blockquote></th>
</tr>
<tr class="header">
<th><blockquote>
<p>Movie5</p>
</blockquote></th>
<th>29.0</th>
<th>4.103448</th>
<th colspan="3"><blockquote>
<p>1.496301</p>
</blockquote></th>
<th colspan="2">1.0</th>
<th>4.00</th>
<th rowspan="2">5.0</th>
<th rowspan="2">5.0</th>
<th rowspan="2"><blockquote>
<p>5.0</p>
</blockquote></th>
</tr>
<tr class="odd">
<th rowspan="2"><blockquote>
<p>…</p>
</blockquote></th>
<th rowspan="2"><blockquote>
<p>…</p>
</blockquote></th>
<th rowspan="2"><blockquote>
<p>…</p>
</blockquote></th>
<th rowspan="2">…</th>
<th rowspan="2">…</th>
<th rowspan="2">…</th>
<th rowspan="2">…</th>
<th rowspan="2">…</th>
<th rowspan="2"><blockquote>
<p>…</p>
</blockquote></th>
</tr>
<tr class="header">
<th rowspan="2">5.0</th>
<th rowspan="2">5.0</th>
<th rowspan="2"><blockquote>
<p>5.0</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>Movie202</th>
<th>6.0</th>
<th>4.333333</th>
<th colspan="3"><blockquote>
<p>1.632993</p>
</blockquote></th>
<th colspan="2">1.0</th>
<th>5.00</th>
</tr>
<tr class="header">
<th>Movie203</th>
<th>1.0</th>
<th>3.000000</th>
<th colspan="3">NaN</th>
<th colspan="2">3.0</th>
<th>3.00</th>
<th>3.0</th>
<th>3.0</th>
<th><blockquote>
<p>3.0</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>Movie204</th>
<th>8.0</th>
<th>4.375000</th>
<th colspan="3"><blockquote>
<p>1.407886</p>
</blockquote></th>
<th colspan="2">1.0</th>
<th>4.75</th>
<th>5.0</th>
<th>5.0</th>
<th><blockquote>
<p>5.0</p>
</blockquote></th>
</tr>
<tr class="header">
<th>Movie205</th>
<th>35.0</th>
<th>4.628571</th>
<th colspan="3"><blockquote>
<p>0.910259</p>
</blockquote></th>
<th colspan="2">1.0</th>
<th>5.00</th>
<th>5.0</th>
<th>5.0</th>
<th><blockquote>
<p>5.0</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>Movie206</th>
<th>13.0</th>
<th>4.923077</th>
<th colspan="3"><blockquote>
<p>0.277350</p>
</blockquote></th>
<th colspan="2">4.0</th>
<th>5.00</th>
<th>5.0</th>
<th>5.0</th>
<th><blockquote>
<p>5.0</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>[206 rows x 8 columns]</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

3

<table>
<colgroup>
<col style="width: 33%" />
<col style="width: 33%" />
<col style="width: 33%" />
</colgroup>
<thead>
<tr class="header">
<th><strong>1.1</strong></th>
<th colspan="2"><blockquote>
<p><strong>Exploratory Data Analysis</strong></p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td colspan="3"><blockquote>
<p><strong>Movies that have maximum views &amp; ratings</strong></p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="3"><p>[7]: print (' Maximum Views')<br />
Views=
df_amazon.describe().T['count'].sort_values(ascending=<strong>False</strong>)[:1].</p>
<blockquote>
<p>print (Views)↪to_frame()<br />
print ('')<br />
print (' Maximum Ratings')<br />
Rating =
df_amazon.drop('user_id',axis=1).sum().sort_values(ascending=<strong>False</strong>)[:</p>
<p>print (Rating)↪1].to_frame()</p>
</blockquote></td>
</tr>
<tr class="odd">
<td colspan="3"><blockquote>
<p>Maximum Views<br />
count</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="2">Movie127</td>
<td><blockquote>
<p>2313.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td colspan="3"><blockquote>
<p>Maximum Ratings<br />
0</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="2">Movie127</td>
<td><blockquote>
<p>9511.0</p>
</blockquote></td>
</tr>
</tbody>
</table>

> **The average rating for each movie**

<table>
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="header">
<th colspan="2">[8]: df_amazon.drop('user_id',axis=1).mean()</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>[8]: Movie1</td>
<td><blockquote>
<p>5.000000</p>
</blockquote></td>
</tr>
<tr class="even">
<td>Movie2</td>
<td><blockquote>
<p>5.000000</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>Movie3</td>
<td><blockquote>
<p>2.000000</p>
</blockquote></td>
</tr>
<tr class="even">
<td>Movie4</td>
<td><blockquote>
<p>5.000000</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>Movie5</td>
<td><blockquote>
<p>4.103448</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="2"><blockquote>
<p>…</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>Movie202</td>
<td><blockquote>
<p>4.333333</p>
</blockquote></td>
</tr>
<tr class="even">
<td>Movie203</td>
<td><blockquote>
<p>3.000000</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>Movie204</td>
<td><blockquote>
<p>4.375000</p>
</blockquote></td>
</tr>
<tr class="even">
<td>Movie205</td>
<td><blockquote>
<p>4.628571</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>Movie206</td>
<td><blockquote>
<p>4.923077</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="2"><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>Length: 206, dtype: float64</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
</tr>
<tr class="odd">
<td colspan="2"><blockquote>
<p><strong>Top 5 movies with the maximum ratings</strong></p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="2"><p>[9]:
df_amazon.drop('user_id',axis=1).mean().sort_values(ascending=<strong>False</strong>)[0:5].
↪to_frame()</p>
<p>[9]: 0</p></td>
</tr>
<tr class="odd">
<td>Movie1</td>
<td><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>5.0</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
</tr>
<tr class="even">
<td>Movie66</td>
<td><blockquote>
<p>5.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>Movie76</td>
<td><blockquote>
<p>5.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td>Movie75</td>
<td><blockquote>
<p>5.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>Movie74</td>
<td><blockquote>
<p>5.0</p>
</blockquote></td>
</tr>
</tbody>
</table>

4

> **Top 5 movies with the least audience**

<table>
<colgroup>
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
</colgroup>
<thead>
<tr class="header">
<th colspan="4">[10]:
df_amazon.describe().T['count'].sort_values(ascending=<strong>True</strong>)[:5].to_frame()</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>[10]:</td>
<td colspan="3"><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>count</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
</tr>
<tr class="even">
<td colspan="3">Movie1</td>
<td><blockquote>
<p>1.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td colspan="3">Movie71</td>
<td><blockquote>
<p>1.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="3">Movie145</td>
<td><blockquote>
<p>1.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td colspan="3">Movie69</td>
<td><blockquote>
<p>1.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="3">Movie68</td>
<td><blockquote>
<p>1.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td colspan="2"><strong>2</strong></td>
<td colspan="2"><blockquote>
<p><strong>User-Based Recommendation Model</strong></p>
</blockquote></td>
</tr>
</tbody>
</table>

<table style="width:100%;">
<colgroup>
<col style="width: 16%" />
<col style="width: 16%" />
<col style="width: 16%" />
<col style="width: 16%" />
<col style="width: 16%" />
<col style="width: 16%" />
</colgroup>
<thead>
<tr class="header">
<th colspan="6"><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><p>[11]: <em># Importing libiraies for model building</em><br />
<em># Surprise package is used for building and analyzing recommender
systems that</em>␣ ↪<em>deal with rating data.</em></p>
<blockquote>
<p><strong>from surprise import</strong> Reader<br />
<strong>from surprise import</strong> Dataset<br />
<strong>from surprise import</strong> accuracy<br />
<strong>from surprise import</strong> SVD<br />
<strong>from surprise.model_selection import</strong>
train_test_split</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td colspan="6">[12]: df_model= df_amazon.melt(id_vars =
df_amazon.columns[0],value_vars=df_amazon.
df_model↪columns[1:],var_name="Movies",value_name="Rating")</td>
</tr>
<tr class="even">
<td>[12]:</td>
<td colspan="2">user_id</td>
<td colspan="2">Movies</td>
<td><blockquote>
<p>Rating</p>
</blockquote></td>
</tr>
<tr class="odd">
<td colspan="2">0</td>
<td>A3R5OBKS7OM2IR</td>
<td colspan="2">Movie1</td>
<td><blockquote>
<p>5.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="2">1</td>
<td><blockquote>
<p>AH3QC2PC1VTGP</p>
</blockquote></td>
<td colspan="2">Movie1</td>
<td><blockquote>
<p>NaN</p>
</blockquote></td>
</tr>
<tr class="odd">
<td colspan="2">2</td>
<td>A3LKP6WPMP9UKX</td>
<td colspan="2">Movie1</td>
<td><blockquote>
<p>NaN</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="2">3</td>
<td><blockquote>
<p>AVIY68KEPQ5ZD</p>
</blockquote></td>
<td colspan="2">Movie1</td>
<td><blockquote>
<p>NaN</p>
</blockquote></td>
</tr>
<tr class="odd">
<td colspan="2">4</td>
<td>A1CV1WROP5KTTW</td>
<td colspan="2">Movie1</td>
<td><blockquote>
<p>NaN</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="2">…</td>
<td>…</td>
<td>…</td>
<td colspan="2"><blockquote>
<p>…</p>
</blockquote></td>
</tr>
<tr class="odd">
<td colspan="2">998683</td>
<td>A1IMQ9WMFYKWH5</td>
<td colspan="2">Movie206</td>
<td><blockquote>
<p>5.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="2">998684</td>
<td>A1KLIKPUF5E88I</td>
<td colspan="2">Movie206</td>
<td><blockquote>
<p>5.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td colspan="2">998685</td>
<td><blockquote>
<p>A5HG6WFZLO10D</p>
</blockquote></td>
<td colspan="2">Movie206</td>
<td><blockquote>
<p>5.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="2">998686</td>
<td>A3UU690TWXCG1X</td>
<td colspan="2">Movie206</td>
<td><blockquote>
<p>5.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td colspan="2">998687</td>
<td><blockquote>
<p>AI4J762YI6S06</p>
</blockquote></td>
<td colspan="2">Movie206</td>
<td><blockquote>
<p>5.0</p>
</blockquote></td>
</tr>
</tbody>
</table>

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>[998688 rows x 3 columns]</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th>[13]: <em># training and testing</em><br />
<em># Reader class is used to parse a file containing ratings # As per
the dataset, ratings are from 0 to 5 only</em></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>rdr = Reader(rating_scale=(-1,5))<br />
data = Dataset.load_from_df(df_model.fillna(0),reader=rdr)</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

5

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>data</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

| \[13\]: \<surprise.dataset.DatasetAutoFolds at 0x23219c056a0\> |
|----------------------------------------------------------------|

| \[14\]: train_data,test_data = train_test_split(data,test_size=0.20) |
|----------------------------------------------------------------------|

\[15\]: *\# Singular Value Descomposition (SVD)*

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>svd = SVD()<br />
svd.fit(train_data)</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

| \[15\]: \<surprise.prediction_algorithms.matrix_factorization.SVD at 0x2321998a850\> |
|------------------------------------------------------------------------|

\[16\]: *\# Root Mean Square Error calculation*

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>pred = svd.test(test_data)<br />
accuracy.rmse(pred)</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

> RMSE: 0.2727

\[16\]: 0.27266602485329633

\[17\]: *\# Mean absolute error calculation*

<table>
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="header">
<th colspan="2"><blockquote>
<p>accuracy.mae(pred)</p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>MAE:</td>
<td><blockquote>
<p>0.0406</p>
</blockquote></td>
</tr>
</tbody>
</table>

\[17\]: 0.04055352599250096

**Prediction**  
\[51\]: u_id='A1IMQ9WMFYKWH5'

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>mv = 'Movie206'<br />
r_id = 5.0</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

<table>
<colgroup>
<col style="width: 33%" />
<col style="width: 33%" />
<col style="width: 33%" />
</colgroup>
<thead>
<tr class="header">
<th colspan="2"><blockquote>
<p>svd.predict(u_id, mv, r_ui=r_id, verbose= <strong>True</strong>)</p>
</blockquote></th>
<th></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>user: A1IMQ9WMFYKWH5 item: Movie206</td>
<td>r_ui = 5.00</td>
<td rowspan="2"><blockquote>
<p>est = 0.07</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="2">{'was_impossible': False}</td>
</tr>
</tbody>
</table>

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th>[51]: Prediction(uid='A1IMQ9WMFYKWH5', iid='Movie206', r_ui=5.0,
est=0.07417857214734563, details={'was_impossible': False})</th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

> Based on the output above, we can see that the rating is less than 1
> for this user and for this movie.

6